# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit hypercoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/hypercoin/hypercoin.conf

[Unit]
Description=Hypercoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/hypercoind -daemon -conf=/etc/hypercoin/hypercoin.conf -pid=/run/hypercoind/hypercoind.pid
# Creates /run/hypercoind owned by hypercoin
RuntimeDirectory=hypercoind
User=hypercoin
Type=forking
PIDFile=/run/hypercoind/hypercoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
